.Home-page{
    display: flex;
    width: 100vw;
    height: 50rem;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-page-img img{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.name{
    margin: 0px;
    padding: 0;
}
.name-heading{
    color: white;
    font-size: 5rem;
}
.social img{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}