
.main_postcard{
    background-color: rgba(255, 217, 217, 0.788);
    margin: 10px;
    border-radius: 10px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.product-name{
    color: white;
    padding: 0;
    padding-top: 5px;
    text-decoration: underline;
}
.product-img{
    margin:0;
    height: 150px;

}
.product-discription p{
    color: white;
    font-size: 20px;
}
.product-img img{
    height: 150px;
    width: 250px;
}
.github-productCard img{
    height: 100px;
    width: 50px;
}