*{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.About{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.About-heading{
    margin-top: 10px;
}
.About-heading h1{
     color: white;
    padding-top: 10px;
    font-size: 70px;
}
.About-Content{
    position: relative;;
     display: flex;
    flex-direction: row;
}
.info{
    color: white;
    font-size: 25px;
    height: 100%;
    width: 50%;
    margin: 15px;
    padding: 15px;
}
.Profile-pic{
    height: 80%;
    width: 50%;
    margin: 15px;
    padding: 15px;
}
.Profile-pic img{
    border: none;
    border-radius: 0%;
    height: 100%;
    width: 80%;
}