
body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  
}

.education-header{
  padding: 20px;
}
.education-header h1{
   color: white;
    padding-top: 10px;
    font-size: 70px;

}
.timeline{
  margin: 0;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
}
.timeline-component{
  margin: 20px;
  margin-top: 0;

}
.timeline-component-bg{
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255);
    border-radius: 10px;
}
.timeline-component-end{
  margin-bottom: 0;
}
.timeline-date{
  padding: 10px;
  padding-top: 0;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  color: antiquewhite;
}
.timeline-date-right{
  text-align: right;
}
.timeline-middle{
  position: relative;
  background-color: white;
}
.timeline-dot{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.timeline-dot-end{
  top: initial;
  bottom: 0;
}
.timeline-title{
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}.timeline-subtitle{
  line-height: 1.5;
  font-size: 1.25rem;
}
.timeline-subtitle-marks{
  line-height: 1.5;
  font-size: 1.05 rem;
}
